.App {
  text-align: center;
}n

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {

  padding:20px;
}
.box{
  padding-right: 40px;
  padding-left: 40px;
}
.button_pad{
  padding-top: 50px;
  padding-bottom: 20px;
}
.button{
background-color: #403debe7; 
border-radius: 5px;
height: 50px;
width: 100%;

}
.btn_div{
  padding-left: 10%;
  padding-right: 10%;
}
.rounded-xl {
  border-radius: .75rem;
}
.shadow-primary {
  box-shadow: 0 9px 23px 0 #ebe9ff;
}
.lenght{
  padding:50px;
}
