.padd{
    padding: 8px;;
}

.colr2{
background-color: #f8f8ffe7; 
border-radius: 15px;
width: 80%;
height: 600px;;
box-shadow: 0 5px 15px 0 #c2c2eb;
padding: 0px;
}
.colr3{
    padding: 155px;
    background-color: #49dbc3e7; 
}
.btn1{
    height: 50px;
    width: 100%;

}
.false_div{
    height: 150px ;
    width: 100%;
}
.Quest{
    align-items:flex-end;
}